@import "../../../sass/abstracts/_mixins";
@import "../../../sass/abstracts/_variables";

.academyModal {
  display: flex;
  flex-direction: column;

  &__heading {
    border-bottom: 2px solid gray;

    padding: 0 1rem;
    padding-bottom: 0.6rem;
    margin-bottom: 1.6rem;

    text-align: center;
  }

  &__createdDate {
    margin-bottom: 1rem;

    b {
      margin-right: 0.4rem;
    }
  }

  &__content {
    margin-top: 1.6rem;
  }

  &__input {
    width: 24rem;

    &:not(:last-of-type) {
      margin-bottom: 1.6rem;
    }

    &-label {
      display: block;
      margin-bottom: 0.2rem;
    }

    &-select {
      cursor: pointer;

      border-radius: 0.6rem;
      border: 1px solid gray;

      padding: 0.6rem;
    }
  }

  &__ckEditor {
    max-width: 80rem;
    width: 100%;

    margin-top: 2rem;
  }

  &__saveBtn {
    width: fit-content;
    margin: 0 auto;

    background-color: $second-color;
    color: white;

    border-radius: 1rem;
    border: 1px solid white;

    margin-top: 1.6rem;
    padding: 1rem 2rem;

    svg {
      vertical-align: middle;
      margin-left: 0.4rem;
    }

    &:hover {
      background-color: white;
      color: $second-color;
      border-color: $second-color;

      font-weight: bolder;

      box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem grey;
      transform: translateY(-1px);
    }

    &:active {
      box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
      transform: translateY(0);
    }
  }
}
