
.recPassword {
  width: 100%;
  height: calc(100vh - 18.2rem);

  display: flex;
  justify-content: center;
  align-items: center;

  /*---number input-iin arrow-iig alga bolj bn---*/
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
  /*---------------------------------------------*/

  &__container {
    max-width: 32rem;
    width: 100%;

    border: 1px solid gray;
    border-radius: 1rem;
    box-shadow: 1rem 0 1rem 0 rgba(0, 0, 0, 0.06),
      -1rem 0 1rem 0 rgba(0, 0, 0, 0.06);

    padding: 1rem 2rem;

    @include respondTo(xs) {
      margin: 0 1rem;
    }

    &-recoverBtn {
      display: block;
      margin: 0 auto; // center

      border-radius: 1rem;
      border: 1px solid gray;

      background-color: $primary-color;
      color: white;

      padding: 0.8rem 2rem;
    }
  }

  &__input {
    margin-bottom: 1rem;

    &-label {
      display: block;
      margin-bottom: 0.4rem;
    }
  }
}
