@import "../../sass/abstracts/_mixins";
@import "../../sass/abstracts/_variables";

.checkbox {
  width: 2rem;
  height: 2rem;

  &-input {
    background-color: black;
    padding: 1rem;
    size: 1rem;
  }
}
