
.course {
  grid-area: aboutcourse;

  display: flex;
  align-items: center;
  gap: 4rem;

  @include respondTo(desktop-sm) {
    padding: 0 2rem 0 4rem;
  }
  @include respondTo(tablet) {
    flex-direction: column;
    gap: 2rem;
    padding: 0;
  }

  &__video {
    width: 60rem;
    height: fit-content;

    @include respondTo(mobile) {
      width: 100%;
      padding: 0 2rem;
    }
  }

  &__para {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include respondTo(tablet) {
      align-items: center;
      gap: 1rem;

      text-align: center;
    }

    &-title {
      font-size: 3rem;
    }

    &-link {
      width: 20rem;

      display: flex;
      justify-content: center;

      text-decoration: none;

      background-color: $primary-color;
      color: white;

      border: 1px solid white;
      border-radius: 1rem;

      padding: 1.5rem 4rem;

      &:hover {
        background-color: rgb(255, 255, 255);
        color: $primary-color;
        border: 1px solid $primary-color;
      }
    }
  }
}
