
.layout {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1200px) 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background: $body-back-color;

  &__header {
    grid-column: 1 / -1;
  }

  &__main {
    grid-column: 2;
    min-width: 0;
    width: 100%;
    padding-bottom: 2rem;
  }

  &__footer {
    grid-column: 1 / -1;
  }
}
